USE [master]
GO
/****** Object:  Database [haak_]    Script Date: 2/25/2026 8:38:58 PM ******/
CREATE DATABASE [haak_]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'school_performance_panel', FILENAME = N'D:\sql-freeasphost-user-dbs\haak_.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'school_performance_panel_log', FILENAME = N'D:\sql-freeasphost-user-dbs\haak_.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [haak_].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [haak_]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 2/25/2026 8:39:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Admins]    Script Date: 2/25/2026 8:39:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admins](
	[Id] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[Nic] [nvarchar](max) NULL,
	[EmployeeNumber] [nvarchar](max) NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_Admins] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ApplicationAdmins]    Script Date: 2/25/2026 8:39:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApplicationAdmins](
	[Id] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[Nic] [nvarchar](max) NULL,
	[ApplicationType] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_ApplicationAdmins] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Classes]    Script Date: 2/25/2026 8:39:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Classes](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[SectionId] [uniqueidentifier] NOT NULL,
	[AcademicYear] [nvarchar](max) NOT NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedAt] [datetime2](7) NULL,
	[ClassType] [int] NOT NULL,
 CONSTRAINT [PK_Classes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clusters]    Script Date: 2/25/2026 8:39:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clusters](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[CreatedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Clusters] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GPAGradings]    Script Date: 2/25/2026 8:39:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GPAGradings](
	[Id] [uniqueidentifier] NOT NULL,
	[Grade] [nvarchar](max) NOT NULL,
	[MinMark] [real] NOT NULL,
	[MaxMark] [real] NOT NULL,
	[GradePoint] [real] NOT NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_GPAGradings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IssueTickets]    Script Date: 2/25/2026 8:39:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IssueTickets](
	[Id] [uniqueidentifier] NOT NULL,
	[CreatedByUserId] [uniqueidentifier] NOT NULL,
	[CreatorType] [nvarchar](max) NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Status] [nvarchar](max) NOT NULL,
	[AssignedOperatorId] [uniqueidentifier] NULL,
	[ForwardedAdminId] [uniqueidentifier] NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[ResolvedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_IssueTickets] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Managers]    Script Date: 2/25/2026 8:39:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Managers](
	[Id] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[Nic] [nvarchar](max) NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_Managers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ModuleExamMarks]    Script Date: 2/25/2026 8:39:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ModuleExamMarks](
	[StudentId] [uniqueidentifier] NOT NULL,
	[ModuleId] [uniqueidentifier] NOT NULL,
	[Mark] [int] NOT NULL,
 CONSTRAINT [PK_ModuleExamMarks] PRIMARY KEY CLUSTERED 
(
	[StudentId] ASC,
	[ModuleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Modules]    Script Date: 2/25/2026 8:39:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Modules](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[SubjectId] [uniqueidentifier] NOT NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[ModuleWeight] [int] NOT NULL,
	[SectionId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Modules] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Operators]    Script Date: 2/25/2026 8:39:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Operators](
	[Id] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[Nic] [nvarchar](max) NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_Operators] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Packages]    Script Date: 2/25/2026 8:39:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Packages](
	[Id] [uniqueidentifier] NOT NULL,
	[Labal] [nvarchar](max) NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedAt] [datetime2](7) NULL,
	[Discription] [nvarchar](max) NOT NULL,
	[PeriodInMonths] [int] NOT NULL,
 CONSTRAINT [PK_Packages] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 2/25/2026 8:39:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[Id] [uniqueidentifier] NOT NULL,
	[ApplicationAdminId] [uniqueidentifier] NOT NULL,
	[PackageId] [uniqueidentifier] NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[PaymentDate] [datetime2](7) NOT NULL,
	[Currency] [nvarchar](3) NOT NULL,
	[CustomerEmail] [nvarchar](255) NULL,
	[Metadata] [nvarchar](max) NULL,
	[PaidAt] [datetime2](7) NULL,
	[PaymentMethod] [nvarchar](50) NOT NULL,
	[PaymentStatus] [nvarchar](50) NOT NULL,
	[ReceiptUrl] [nvarchar](500) NULL,
	[RefundAmount] [decimal](18, 2) NULL,
	[RefundId] [nvarchar](255) NULL,
	[RefundedAt] [datetime2](7) NULL,
	[TransactionId] [nvarchar](255) NULL,
 CONSTRAINT [PK_Payments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sections]    Script Date: 2/25/2026 8:39:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sections](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[ClusterId] [uniqueidentifier] NOT NULL,
	[CreatedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Sections] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentClasses]    Script Date: 2/25/2026 8:39:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentClasses](
	[StudentId] [uniqueidentifier] NOT NULL,
	[ClassId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_StudentClasses] PRIMARY KEY CLUSTERED 
(
	[StudentId] ASC,
	[ClassId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentGlobals]    Script Date: 2/25/2026 8:39:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentGlobals](
	[Id] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[GlobalStudentCode] [nvarchar](450) NOT NULL,
	[FirstName] [nvarchar](max) NOT NULL,
	[LastName] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](450) NOT NULL,
	[Phone] [nvarchar](max) NULL,
	[DateOfBirth] [datetime2](7) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_StudentGlobals] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Students]    Script Date: 2/25/2026 8:39:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[Id] [uniqueidentifier] NOT NULL,
	[StudentGlobalId] [uniqueidentifier] NOT NULL,
	[IndexNumber] [nvarchar](max) NOT NULL,
	[Address] [nvarchar](max) NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_Students] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentSubjectSections]    Script Date: 2/25/2026 8:39:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentSubjectSections](
	[StudentId] [uniqueidentifier] NOT NULL,
	[SubjectId] [uniqueidentifier] NOT NULL,
	[SectionId] [uniqueidentifier] NOT NULL,
	[EnrolledAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_StudentSubjectSections] PRIMARY KEY CLUSTERED 
(
	[StudentId] ASC,
	[SubjectId] ASC,
	[SectionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SubjectClusters]    Script Date: 2/25/2026 8:39:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubjectClusters](
	[SubjectId] [uniqueidentifier] NOT NULL,
	[ClusterId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_SubjectClusters] PRIMARY KEY CLUSTERED 
(
	[SubjectId] ASC,
	[ClusterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SubjectExamMarks]    Script Date: 2/25/2026 8:39:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubjectExamMarks](
	[StudentId] [uniqueidentifier] NOT NULL,
	[ClassId] [uniqueidentifier] NOT NULL,
	[SubjectId] [uniqueidentifier] NOT NULL,
	[TermTest] [nvarchar](450) NOT NULL,
	[Mark] [int] NOT NULL,
 CONSTRAINT [PK_SubjectExamMarks] PRIMARY KEY CLUSTERED 
(
	[StudentId] ASC,
	[ClassId] ASC,
	[SubjectId] ASC,
	[TermTest] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SubjectGradings]    Script Date: 2/25/2026 8:39:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubjectGradings](
	[Id] [uniqueidentifier] NOT NULL,
	[Grade] [nvarchar](max) NOT NULL,
	[MinMark] [real] NOT NULL,
	[MaxMark] [real] NOT NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_SubjectGradings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subjects]    Script Date: 2/25/2026 8:39:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subjects](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[CreditValue] [int] NOT NULL,
 CONSTRAINT [PK_Subjects] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TeacherAttendances]    Script Date: 2/25/2026 8:39:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TeacherAttendances](
	[Id] [uniqueidentifier] NOT NULL,
	[TeacherId] [uniqueidentifier] NOT NULL,
	[Date] [datetime2](7) NOT NULL,
	[Status] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_TeacherAttendances] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TeacherLeaveRequests]    Script Date: 2/25/2026 8:39:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TeacherLeaveRequests](
	[Id] [uniqueidentifier] NOT NULL,
	[TeacherId] [uniqueidentifier] NOT NULL,
	[LeaveType] [nvarchar](max) NOT NULL,
	[StartDate] [datetime2](7) NOT NULL,
	[EndDate] [datetime2](7) NOT NULL,
	[Reason] [nvarchar](max) NULL,
	[Status] [nvarchar](max) NOT NULL,
	[RequestedAt] [datetime2](7) NOT NULL,
	[ReviewedBy] [uniqueidentifier] NULL,
	[ReviewedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_TeacherLeaveRequests] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TeacherLeaveSettings]    Script Date: 2/25/2026 8:39:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TeacherLeaveSettings](
	[Id] [uniqueidentifier] NOT NULL,
	[ActiveYear] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[EmergencyLeaveLimit] [int] NOT NULL,
	[HalfDayLeaveLimit] [int] NOT NULL,
	[FullDayLeaveLimit] [int] NOT NULL,
 CONSTRAINT [PK_TeacherLeaveSettings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Teachers]    Script Date: 2/25/2026 8:39:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teachers](
	[Id] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[Nic] [nvarchar](max) NULL,
	[TeacherId] [nvarchar](max) NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_Teachers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TeacherSections]    Script Date: 2/25/2026 8:39:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TeacherSections](
	[TeacherId] [uniqueidentifier] NOT NULL,
	[SectionId] [uniqueidentifier] NOT NULL,
	[AssignedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_TeacherSections] PRIMARY KEY CLUSTERED 
(
	[TeacherId] ASC,
	[SectionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TeacherSubjects]    Script Date: 2/25/2026 8:39:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TeacherSubjects](
	[TeacherId] [uniqueidentifier] NOT NULL,
	[SubjectId] [uniqueidentifier] NOT NULL,
	[AssignedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_TeacherSubjects] PRIMARY KEY CLUSTERED 
(
	[TeacherId] ASC,
	[SubjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TimeSlots]    Script Date: 2/25/2026 8:39:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TimeSlots](
	[Id] [uniqueidentifier] NOT NULL,
	[StartTime] [time](7) NOT NULL,
	[EndTime] [time](7) NOT NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[Name] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[DeletedAt] [datetime2](7) NULL,
	[IsDeleted] [bit] NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_TimeSlots] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Timetables]    Script Date: 2/25/2026 8:39:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Timetables](
	[Id] [uniqueidentifier] NOT NULL,
	[ClassId] [uniqueidentifier] NOT NULL,
	[SubjectId] [uniqueidentifier] NOT NULL,
	[TeacherId] [uniqueidentifier] NOT NULL,
	[TimeSlotId] [uniqueidentifier] NOT NULL,
	[DayOfWeek] [nvarchar](450) NOT NULL,
	[IsOptional] [bit] NOT NULL,
 CONSTRAINT [PK_Timetables] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 2/25/2026 8:39:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [uniqueidentifier] NOT NULL,
	[Username] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](450) NOT NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NOT NULL,
	[Otp] [nvarchar](max) NULL,
	[RefreshToken] [nvarchar](max) NULL,
	[ValidUntil] [datetime2](7) NULL,
	[IsActive] [bit] NOT NULL,
	[Role] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedAt] [datetime2](7) NULL,
	[IsVerified] [bit] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251227062349_second-guid', N'8.0.22')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251227122545_add_isVerified_attribute_to_user', N'8.0.22')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251229042933_update_package_model', N'8.0.22')
GO
INSERT [dbo].[Admins] ([Id], [UserId], [Nic], [EmployeeNumber], [CreatedBy], [UpdatedBy], [CreatedAt], [UpdatedAt], [IsDeleted], [DeletedAt]) VALUES (N'58a6f197-3657-4452-4d6f-08de45e500bd', N'17d42fe9-cf44-4ee1-ab56-08de45e500aa', N'200307200526', N'108', N'43929ad5-c5b2-49b5-31f1-08de45440c3e', N'43929ad5-c5b2-49b5-31f1-08de45440c3e', CAST(N'2025-12-28T07:44:59.5362313' AS DateTime2), CAST(N'2025-12-28T07:49:35.8913965' AS DateTime2), 0, CAST(N'2025-12-28T08:00:56.8456070' AS DateTime2))
GO
INSERT [dbo].[ApplicationAdmins] ([Id], [UserId], [Nic], [ApplicationType], [CreatedAt], [UpdatedAt], [IsDeleted], [DeletedAt]) VALUES (N'2ab26fec-5161-4e30-b704-08de454cea07', N'23d0029c-d7b4-4a2c-4f87-08de4547311a', N'2300307200526', N'SUBJECT_BASE', CAST(N'2025-12-27T13:36:17.9372649' AS DateTime2), CAST(N'2025-12-29T04:08:03.0936330' AS DateTime2), 0, NULL)
GO
INSERT [dbo].[Classes] ([Id], [Name], [SectionId], [AcademicYear], [CreatedBy], [CreatedAt], [UpdatedAt], [IsDeleted], [DeletedAt], [ClassType]) VALUES (N'1ba35f89-b4fc-49e4-efaa-08de4b75a119', N'7A', N'56865a6e-03a3-4c07-bb76-e54ffa203ef3', N'2026', N'ebf1fc8b-b843-4a1c-988a-08de475af062', CAST(N'2026-01-04T09:42:51.9250980' AS DateTime2), CAST(N'2026-02-24T14:19:03.5381591' AS DateTime2), 0, NULL, 1)
INSERT [dbo].[Classes] ([Id], [Name], [SectionId], [AcademicYear], [CreatedBy], [CreatedAt], [UpdatedAt], [IsDeleted], [DeletedAt], [ClassType]) VALUES (N'60f92e22-018f-4e65-3cbe-08de4dcf38ef', N'8A', N'd18fcdae-d131-4a54-927f-6f9d2642db1c', N'2026', N'ebf1fc8b-b843-4a1c-988a-08de475af062', CAST(N'2026-01-07T09:29:14.1875845' AS DateTime2), CAST(N'2026-02-25T05:05:31.8062245' AS DateTime2), 0, NULL, 0)
INSERT [dbo].[Classes] ([Id], [Name], [SectionId], [AcademicYear], [CreatedBy], [CreatedAt], [UpdatedAt], [IsDeleted], [DeletedAt], [ClassType]) VALUES (N'ce3145cb-a274-4576-fc5e-08de72b23d6c', N'9A', N'86e3d238-9f94-415c-a5ab-603ba4c14c5c', N'2026', N'ebf1fc8b-b843-4a1c-988a-08de475af062', CAST(N'2026-02-23T08:04:59.3450192' AS DateTime2), CAST(N'2026-02-24T14:07:47.1401432' AS DateTime2), 0, NULL, 0)
GO
INSERT [dbo].[Clusters] ([Id], [Name], [CreatedBy]) VALUES (N'48962d03-cd7a-4a66-bc2d-95bc9bb52240', N'PRIMARY', N'ebf1fc8b-b843-4a1c-988a-08de475af062')
INSERT [dbo].[Clusters] ([Id], [Name], [CreatedBy]) VALUES (N'ccb40ede-26ae-4cf6-9d45-d2ca00213ae4', N'JUNIOR_SECONDARY', N'ebf1fc8b-b843-4a1c-988a-08de475af062')
INSERT [dbo].[Clusters] ([Id], [Name], [CreatedBy]) VALUES (N'5a822b61-755b-4097-a658-d5dd03c3b61d', N'SENIOR_SECONDARY', N'ebf1fc8b-b843-4a1c-988a-08de475af062')
GO
INSERT [dbo].[GPAGradings] ([Id], [Grade], [MinMark], [MaxMark], [GradePoint], [CreatedBy], [CreatedAt], [UpdatedAt], [IsDeleted], [DeletedAt]) VALUES (N'2227e68a-abda-4804-b1b9-03164e124b63', N'A+', 85, 100, 4, N'58a6f197-3657-4452-4d6f-08de45e500bd', CAST(N'2026-01-04T07:27:43.6506775' AS DateTime2), CAST(N'2026-02-24T10:24:12.8644478' AS DateTime2), 0, NULL)
INSERT [dbo].[GPAGradings] ([Id], [Grade], [MinMark], [MaxMark], [GradePoint], [CreatedBy], [CreatedAt], [UpdatedAt], [IsDeleted], [DeletedAt]) VALUES (N'38c3c9bf-4b20-47a7-940f-2dd8328418e8', N'A-', 70, 74, 3.7, N'58a6f197-3657-4452-4d6f-08de45e500bd', CAST(N'2026-02-24T10:25:29.0233460' AS DateTime2), NULL, 0, NULL)
INSERT [dbo].[GPAGradings] ([Id], [Grade], [MinMark], [MaxMark], [GradePoint], [CreatedBy], [CreatedAt], [UpdatedAt], [IsDeleted], [DeletedAt]) VALUES (N'f122f618-0a24-4454-a4ee-340b603494e6', N'C-', 40, 44, 1.7, N'58a6f197-3657-4452-4d6f-08de45e500bd', CAST(N'2026-02-24T10:47:23.3127272' AS DateTime2), NULL, 0, NULL)
GO
INSERT [dbo].[Managers] ([Id], [UserId], [Nic], [CreatedBy], [CreatedAt], [UpdatedAt], [IsDeleted], [DeletedAt]) VALUES (N'785933a6-be4c-4c98-ce9f-08de475c1f67', N'13d83809-78e2-464f-1bfd-08de475af05b', N'20040467875', N'2ab26fec-5161-4e30-b704-08de454cea07', CAST(N'2025-12-30T04:30:12.2626937' AS DateTime2), CAST(N'2025-12-30T04:33:13.2811930' AS DateTime2), 0, NULL)
GO
INSERT [dbo].[Modules] ([Id], [Name], [SubjectId], [CreatedBy], [ModuleWeight], [SectionId]) VALUES (N'4c6cb5fd-1d8c-4d69-83ca-08c46fed729b', N'Drawing Fundamentals', N'e901ef0a-caa9-4b51-bb9a-21bb078127d8', N'ebf1fc8b-b843-4a1c-988a-08de475af062', 30, N'b1b7587b-e843-495e-ac79-9896d0bb11a2')
INSERT [dbo].[Modules] ([Id], [Name], [SubjectId], [CreatedBy], [ModuleWeight], [SectionId]) VALUES (N'9e817c07-66b1-40bc-ab2a-08de4b7bfeec', N'introduction to ICT', N'ea4c63e5-e61b-4e4f-f8ea-08de4b797c98', N'ebf1fc8b-b843-4a1c-988a-08de475af062', 12, N'56865a6e-03a3-4c07-bb76-e54ffa203ef3')
INSERT [dbo].[Modules] ([Id], [Name], [SubjectId], [CreatedBy], [ModuleWeight], [SectionId]) VALUES (N'19b2e8dd-3524-4c6a-983d-0da8055a2162', N'Fractions and Decimals', N'296d539c-1edf-45c1-a0e9-3c62f558dc30', N'ebf1fc8b-b843-4a1c-988a-08de475af062', 30, N'56865a6e-03a3-4c07-bb76-e54ffa203ef3')
GO
INSERT [dbo].[Operators] ([Id], [UserId], [Nic], [CreatedBy], [CreatedAt], [UpdatedAt], [IsDeleted], [DeletedAt]) VALUES (N'ebf1fc8b-b843-4a1c-988a-08de475af062', N'b90cb1ed-98ca-424c-1bfc-08de475af05b', N'20040467875', N'2ab26fec-5161-4e30-b704-08de454cea07', CAST(N'2025-12-30T04:21:43.8775348' AS DateTime2), CAST(N'2025-12-30T04:24:59.4356127' AS DateTime2), 0, NULL)
GO
INSERT [dbo].[Packages] ([Id], [Labal], [Price], [CreatedBy], [UpdatedBy], [CreatedAt], [UpdatedAt], [IsDeleted], [DeletedAt], [Discription], [PeriodInMonths]) VALUES (N'1ac1401e-1d1a-45b1-db4a-08de469334b0', N'1 Year', CAST(30000.00 AS Decimal(18, 2)), N'17d42fe9-cf44-4ee1-ab56-08de45e500aa', N'17d42fe9-cf44-4ee1-ab56-08de45e500aa', CAST(N'2025-12-29T04:31:59.1166607' AS DateTime2), CAST(N'2026-02-24T10:15:30.1511719' AS DateTime2), 0, NULL, N'discription', 12)
INSERT [dbo].[Packages] ([Id], [Labal], [Price], [CreatedBy], [UpdatedBy], [CreatedAt], [UpdatedAt], [IsDeleted], [DeletedAt], [Discription], [PeriodInMonths]) VALUES (N'10817e46-415c-4e54-db4b-08de469334b0', N'1 month', CAST(2000.00 AS Decimal(18, 2)), N'17d42fe9-cf44-4ee1-ab56-08de45e500aa', NULL, CAST(N'2025-12-29T04:37:27.5655921' AS DateTime2), NULL, 1, CAST(N'2025-12-29T04:38:19.7754435' AS DateTime2), N'discription for 1 month package', 1)
INSERT [dbo].[Packages] ([Id], [Labal], [Price], [CreatedBy], [UpdatedBy], [CreatedAt], [UpdatedAt], [IsDeleted], [DeletedAt], [Discription], [PeriodInMonths]) VALUES (N'bba3d37d-d638-4f4a-9930-08de738d96f0', N'6 Month', CAST(17000.00 AS Decimal(18, 2)), N'17d42fe9-cf44-4ee1-ab56-08de45e500aa', NULL, CAST(N'2026-02-24T10:15:09.2880066' AS DateTime2), NULL, 0, NULL, N'abc
abcd
abc', 6)
GO
INSERT [dbo].[Sections] ([Id], [Name], [ClusterId], [CreatedBy]) VALUES (N'2c9d55a7-3d89-4387-a635-23a13c9b0a86', N'Grade 11', N'5a822b61-755b-4097-a658-d5dd03c3b61d', N'ebf1fc8b-b843-4a1c-988a-08de475af062')
INSERT [dbo].[Sections] ([Id], [Name], [ClusterId], [CreatedBy]) VALUES (N'86e3d238-9f94-415c-a5ab-603ba4c14c5c', N'Grade 9', N'ccb40ede-26ae-4cf6-9d45-d2ca00213ae4', N'ebf1fc8b-b843-4a1c-988a-08de475af062')
INSERT [dbo].[Sections] ([Id], [Name], [ClusterId], [CreatedBy]) VALUES (N'd18fcdae-d131-4a54-927f-6f9d2642db1c', N'Grade 8', N'ccb40ede-26ae-4cf6-9d45-d2ca00213ae4', N'ebf1fc8b-b843-4a1c-988a-08de475af062')
GO
INSERT [dbo].[StudentGlobals] ([Id], [UserId], [GlobalStudentCode], [FirstName], [LastName], [Email], [Phone], [DateOfBirth], [CreatedAt], [UpdatedAt], [IsDeleted], [DeletedAt]) VALUES (N'd416630a-3e90-4fc0-f2da-08de454be97c', N'8af123c5-d70d-4275-4f86-08de4547311a', N'GSC20258AF123', N'Ashen', N'Kavinda', N'kavindahemarathna456@gmail.com', N'+940769327751', CAST(N'2003-12-27T13:27:26.1360000' AS DateTime2), CAST(N'2025-12-27T13:29:07.5311424' AS DateTime2), NULL, 0, NULL)
INSERT [dbo].[StudentGlobals] ([Id], [UserId], [GlobalStudentCode], [FirstName], [LastName], [Email], [Phone], [DateOfBirth], [CreatedAt], [UpdatedAt], [IsDeleted], [DeletedAt]) VALUES (N'a1ec4721-005f-4c38-6733-08de4c2ecd20', N'7ea270cf-f2af-4551-6a54-08de4c2ecd1c', N'GSC20267EA270', N'Ashen', N'Kavinda', N'student1@gmail.com', N'+940769327751', CAST(N'2003-12-27T13:27:26.1360000' AS DateTime2), CAST(N'2026-01-05T07:48:22.6818947' AS DateTime2), NULL, 0, NULL)
INSERT [dbo].[StudentGlobals] ([Id], [UserId], [GlobalStudentCode], [FirstName], [LastName], [Email], [Phone], [DateOfBirth], [CreatedAt], [UpdatedAt], [IsDeleted], [DeletedAt]) VALUES (N'e7f8f64d-05b3-4d5e-6734-08de4c2ecd20', N'407ecee7-10f2-42e6-6a55-08de4c2ecd1c', N'GSC2026407ECE', N'Ashen', N'Kavinda', N'student2@gmail.com', N'+940769327751', CAST(N'2003-12-27T13:27:26.1360000' AS DateTime2), CAST(N'2026-01-05T07:49:15.5865549' AS DateTime2), NULL, 0, NULL)
GO
INSERT [dbo].[Students] ([Id], [StudentGlobalId], [IndexNumber], [Address], [CreatedBy], [CreatedAt], [UpdatedAt], [IsDeleted], [DeletedAt]) VALUES (N'e8e2b36e-f130-4fdd-e0d8-08de4ad78deb', N'd416630a-3e90-4fc0-f2da-08de454be97c', N'202', N'Galle', N'ebf1fc8b-b843-4a1c-988a-08de475af062', CAST(N'2026-01-03T14:51:19.2524923' AS DateTime2), CAST(N'2026-01-04T06:40:11.6200757' AS DateTime2), 0, NULL)
INSERT [dbo].[Students] ([Id], [StudentGlobalId], [IndexNumber], [Address], [CreatedBy], [CreatedAt], [UpdatedAt], [IsDeleted], [DeletedAt]) VALUES (N'f6c4d6d7-126d-4486-e09a-08de4c336161', N'a1ec4721-005f-4c38-6733-08de4c2ecd20', N'2626', N'kalegana,gallle', N'ebf1fc8b-b843-4a1c-988a-08de475af062', CAST(N'2026-01-05T08:21:09.4008445' AS DateTime2), NULL, 0, NULL)
INSERT [dbo].[Students] ([Id], [StudentGlobalId], [IndexNumber], [Address], [CreatedBy], [CreatedAt], [UpdatedAt], [IsDeleted], [DeletedAt]) VALUES (N'a21cb0f6-1dd9-439a-e09b-08de4c336161', N'e7f8f64d-05b3-4d5e-6734-08de4c2ecd20', N'2627', N'kalegana,gallle', N'ebf1fc8b-b843-4a1c-988a-08de475af062', CAST(N'2026-01-05T08:21:40.0584231' AS DateTime2), NULL, 0, NULL)
GO
INSERT [dbo].[SubjectClusters] ([SubjectId], [ClusterId]) VALUES (N'e901ef0a-caa9-4b51-bb9a-21bb078127d8', N'ccb40ede-26ae-4cf6-9d45-d2ca00213ae4')
INSERT [dbo].[SubjectClusters] ([SubjectId], [ClusterId]) VALUES (N'269d0412-bee4-4a1f-ab39-2f2fd61a753f', N'ccb40ede-26ae-4cf6-9d45-d2ca00213ae4')
INSERT [dbo].[SubjectClusters] ([SubjectId], [ClusterId]) VALUES (N'296d539c-1edf-45c1-a0e9-3c62f558dc30', N'ccb40ede-26ae-4cf6-9d45-d2ca00213ae4')
GO
INSERT [dbo].[SubjectGradings] ([Id], [Grade], [MinMark], [MaxMark], [CreatedBy], [CreatedAt], [UpdatedAt], [IsDeleted], [DeletedAt]) VALUES (N'187caa30-0061-4698-abec-2ebe34a0987a', N'S', 35, 54, N'58a6f197-3657-4452-4d6f-08de45e500bd', CAST(N'2026-02-24T10:50:05.5863166' AS DateTime2), NULL, 0, NULL)
INSERT [dbo].[SubjectGradings] ([Id], [Grade], [MinMark], [MaxMark], [CreatedBy], [CreatedAt], [UpdatedAt], [IsDeleted], [DeletedAt]) VALUES (N'41281d6d-ae4a-4337-9397-4e0a21ea7ddc', N'C', 55, 64, N'58a6f197-3657-4452-4d6f-08de45e500bd', CAST(N'2026-02-24T10:49:35.1893146' AS DateTime2), NULL, 0, NULL)
INSERT [dbo].[SubjectGradings] ([Id], [Grade], [MinMark], [MaxMark], [CreatedBy], [CreatedAt], [UpdatedAt], [IsDeleted], [DeletedAt]) VALUES (N'361128ff-38ab-4602-ab73-7812266b1cb6', N'B', 65, 74, N'58a6f197-3657-4452-4d6f-08de45e500bd', CAST(N'2026-02-24T10:49:16.6984466' AS DateTime2), NULL, 0, NULL)
GO
INSERT [dbo].[Subjects] ([Id], [Name], [CreatedBy], [CreditValue]) VALUES (N'ea4c63e5-e61b-4e4f-f8ea-08de4b797c98', N'ICT', N'ebf1fc8b-b843-4a1c-988a-08de475af062', 3)
INSERT [dbo].[Subjects] ([Id], [Name], [CreatedBy], [CreditValue]) VALUES (N'3de624b1-2ff4-4a44-00d8-08de4c2f581f', N'Sinhala', N'ebf1fc8b-b843-4a1c-988a-08de475af062', 10)
INSERT [dbo].[Subjects] ([Id], [Name], [CreatedBy], [CreditValue]) VALUES (N'128116a9-49aa-4388-8385-0a3b4e0eeea3', N'Physics', N'ebf1fc8b-b843-4a1c-988a-08de475af062', 5)
GO
INSERT [dbo].[Teachers] ([Id], [UserId], [Nic], [TeacherId], [CreatedBy], [CreatedAt], [UpdatedAt], [IsDeleted], [DeletedAt]) VALUES (N'9b00a1e5-3698-4a9f-60ec-08de4ac6406c', N'272b351b-28a8-4a15-f5d2-08de4ac64064', N'200309388678', N'103', N'ebf1fc8b-b843-4a1c-988a-08de475af062', CAST(N'2026-01-03T12:47:27.7980021' AS DateTime2), CAST(N'2026-02-25T07:33:09.7413475' AS DateTime2), 0, NULL)
INSERT [dbo].[Teachers] ([Id], [UserId], [Nic], [TeacherId], [CreatedBy], [CreatedAt], [UpdatedAt], [IsDeleted], [DeletedAt]) VALUES (N'5e3e79ab-47d6-49b0-f9fb-08de4ddd0f03', N'c6bc176b-568e-44f9-839a-08de4ddd0ee9', N'200898788656', N'TCH-2026-0001', N'ebf1fc8b-b843-4a1c-988a-08de475af062', CAST(N'2026-01-07T11:08:16.8208537' AS DateTime2), CAST(N'2026-02-25T07:33:21.1753108' AS DateTime2), 0, NULL)
INSERT [dbo].[Teachers] ([Id], [UserId], [Nic], [TeacherId], [CreatedBy], [CreatedAt], [UpdatedAt], [IsDeleted], [DeletedAt]) VALUES (N'0f41fa7e-347c-49ba-f9fc-08de4ddd0f03', N'c073c655-a572-4c4e-839b-08de4ddd0ee9', NULL, N'TCH-2026-0002', N'ebf1fc8b-b843-4a1c-988a-08de475af062', CAST(N'2026-01-07T11:08:47.0856658' AS DateTime2), CAST(N'2026-02-25T07:33:27.6519114' AS DateTime2), 0, NULL)
GO
INSERT [dbo].[TimeSlots] ([Id], [StartTime], [EndTime], [CreatedBy], [Name], [CreatedAt], [DeletedAt], [IsDeleted], [UpdatedAt]) VALUES (N'26ac7fb8-61e2-46a7-80df-1a884e9875d7', CAST(N'13:10:00' AS Time), CAST(N'14:00:00' AS Time), N'58a6f197-3657-4452-4d6f-08de45e500bd', 1, CAST(N'2026-01-06T08:01:45.6900674' AS DateTime2), NULL, 0, NULL)
INSERT [dbo].[TimeSlots] ([Id], [StartTime], [EndTime], [CreatedBy], [Name], [CreatedAt], [DeletedAt], [IsDeleted], [UpdatedAt]) VALUES (N'6069e530-3b45-4945-aef8-3164d8ec2d70', CAST(N'08:30:00' AS Time), CAST(N'09:20:00' AS Time), N'58a6f197-3657-4452-4d6f-08de45e500bd', 1, CAST(N'2026-01-06T07:58:39.7226230' AS DateTime2), NULL, 0, NULL)
INSERT [dbo].[TimeSlots] ([Id], [StartTime], [EndTime], [CreatedBy], [Name], [CreatedAt], [DeletedAt], [IsDeleted], [UpdatedAt]) VALUES (N'4904d281-9f1f-4fff-add1-40aad022de5b', CAST(N'10:10:00' AS Time), CAST(N'10:30:00' AS Time), N'58a6f197-3657-4452-4d6f-08de45e500bd', 1, CAST(N'2026-01-06T07:59:26.8403470' AS DateTime2), NULL, 0, NULL)
GO
INSERT [dbo].[Users] ([Id], [Username], [Email], [PhoneNumber], [Password], [Otp], [RefreshToken], [ValidUntil], [IsActive], [Role], [CreatedAt], [UpdatedAt], [IsDeleted], [DeletedAt], [IsVerified]) VALUES (N'3701742b-7522-4a95-4f85-08de4547311a', N'Ashen Kavinda', N'example2@gmail.com', N'+94769327761', N'$2a$11$lCEZi4YUsaUN6xetepecV.4dXPHyFOaiCZleKFJUNsnGv19lvbTcm', NULL, NULL, NULL, 1, N'ADMIN', CAST(N'2025-12-27T12:55:20.1497761' AS DateTime2), NULL, 1, CAST(N'2025-12-27T12:58:42.9138703' AS DateTime2), 1)
GO
/****** Object:  Index [IX_Admins_CreatedBy]    Script Date: 2/25/2026 8:39:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_Admins_CreatedBy] ON [dbo].[Admins]
(
	[CreatedBy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Admins_UpdatedBy]    Script Date: 2/25/2026 8:39:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_Admins_UpdatedBy] ON [dbo].[Admins]
(
	[UpdatedBy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Admins_UserId]    Script Date: 2/25/2026 8:39:40 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Admins_UserId] ON [dbo].[Admins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ApplicationAdmins_UserId]    Script Date: 2/25/2026 8:39:40 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_ApplicationAdmins_UserId] ON [dbo].[ApplicationAdmins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Classes_CreatedBy]    Script Date: 2/25/2026 8:39:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_Classes_CreatedBy] ON [dbo].[Classes]
(
	[CreatedBy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Classes_SectionId]    Script Date: 2/25/2026 8:39:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_Classes_SectionId] ON [dbo].[Classes]
(
	[SectionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Clusters_CreatedBy]    Script Date: 2/25/2026 8:39:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_Clusters_CreatedBy] ON [dbo].[Clusters]
(
	[CreatedBy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_GPAGradings_CreatedBy]    Script Date: 2/25/2026 8:39:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_GPAGradings_CreatedBy] ON [dbo].[GPAGradings]
(
	[CreatedBy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_IssueTickets_AssignedOperatorId]    Script Date: 2/25/2026 8:39:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_IssueTickets_AssignedOperatorId] ON [dbo].[IssueTickets]
(
	[AssignedOperatorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_IssueTickets_CreatedByUserId]    Script Date: 2/25/2026 8:39:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_IssueTickets_CreatedByUserId] ON [dbo].[IssueTickets]
(
	[CreatedByUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_IssueTickets_ForwardedAdminId]    Script Date: 2/25/2026 8:39:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_IssueTickets_ForwardedAdminId] ON [dbo].[IssueTickets]
(
	[ForwardedAdminId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Managers_CreatedBy]    Script Date: 2/25/2026 8:39:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_Managers_CreatedBy] ON [dbo].[Managers]
(
	[CreatedBy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Managers_UserId]    Script Date: 2/25/2026 8:39:40 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Managers_UserId] ON [dbo].[Managers]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ModuleExamMarks_ModuleId]    Script Date: 2/25/2026 8:39:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_ModuleExamMarks_ModuleId] ON [dbo].[ModuleExamMarks]
(
	[ModuleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Modules_CreatedBy]    Script Date: 2/25/2026 8:39:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_Modules_CreatedBy] ON [dbo].[Modules]
(
	[CreatedBy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Modules_SectionId]    Script Date: 2/25/2026 8:39:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_Modules_SectionId] ON [dbo].[Modules]
(
	[SectionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Modules_SubjectId]    Script Date: 2/25/2026 8:39:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_Modules_SubjectId] ON [dbo].[Modules]
(
	[SubjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Operators_CreatedBy]    Script Date: 2/25/2026 8:39:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_Operators_CreatedBy] ON [dbo].[Operators]
(
	[CreatedBy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Operators_UserId]    Script Date: 2/25/2026 8:39:40 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Operators_UserId] ON [dbo].[Operators]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Packages_CreatedBy]    Script Date: 2/25/2026 8:39:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_Packages_CreatedBy] ON [dbo].[Packages]
(
	[CreatedBy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Packages_UpdatedBy]    Script Date: 2/25/2026 8:39:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_Packages_UpdatedBy] ON [dbo].[Packages]
(
	[UpdatedBy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Payments_ApplicationAdminId]    Script Date: 2/25/2026 8:39:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_Payments_ApplicationAdminId] ON [dbo].[Payments]
(
	[ApplicationAdminId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Payments_PackageId]    Script Date: 2/25/2026 8:39:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_Payments_PackageId] ON [dbo].[Payments]
(
	[PackageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Sections_ClusterId]    Script Date: 2/25/2026 8:39:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_Sections_ClusterId] ON [dbo].[Sections]
(
	[ClusterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Sections_CreatedBy]    Script Date: 2/25/2026 8:39:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_Sections_CreatedBy] ON [dbo].[Sections]
(
	[CreatedBy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_StudentClasses_ClassId]    Script Date: 2/25/2026 8:39:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_StudentClasses_ClassId] ON [dbo].[StudentClasses]
(
	[ClassId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_StudentGlobals_Email]    Script Date: 2/25/2026 8:39:40 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_StudentGlobals_Email] ON [dbo].[StudentGlobals]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_StudentGlobals_GlobalStudentCode]    Script Date: 2/25/2026 8:39:40 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_StudentGlobals_GlobalStudentCode] ON [dbo].[StudentGlobals]
(
	[GlobalStudentCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_StudentGlobals_UserId]    Script Date: 2/25/2026 8:39:40 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_StudentGlobals_UserId] ON [dbo].[StudentGlobals]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Students_CreatedBy]    Script Date: 2/25/2026 8:39:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_Students_CreatedBy] ON [dbo].[Students]
(
	[CreatedBy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Students_StudentGlobalId]    Script Date: 2/25/2026 8:39:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_Students_StudentGlobalId] ON [dbo].[Students]
(
	[StudentGlobalId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_StudentSubjectSections_SectionId]    Script Date: 2/25/2026 8:39:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_StudentSubjectSections_SectionId] ON [dbo].[StudentSubjectSections]
(
	[SectionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_StudentSubjectSections_SubjectId]    Script Date: 2/25/2026 8:39:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_StudentSubjectSections_SubjectId] ON [dbo].[StudentSubjectSections]
(
	[SubjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SubjectClusters_ClusterId]    Script Date: 2/25/2026 8:39:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_SubjectClusters_ClusterId] ON [dbo].[SubjectClusters]
(
	[ClusterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SubjectExamMarks_ClassId]    Script Date: 2/25/2026 8:39:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_SubjectExamMarks_ClassId] ON [dbo].[SubjectExamMarks]
(
	[ClassId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SubjectExamMarks_SubjectId]    Script Date: 2/25/2026 8:39:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_SubjectExamMarks_SubjectId] ON [dbo].[SubjectExamMarks]
(
	[SubjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SubjectGradings_CreatedBy]    Script Date: 2/25/2026 8:39:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_SubjectGradings_CreatedBy] ON [dbo].[SubjectGradings]
(
	[CreatedBy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Subjects_CreatedBy]    Script Date: 2/25/2026 8:39:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_Subjects_CreatedBy] ON [dbo].[Subjects]
(
	[CreatedBy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TeacherAttendances_TeacherId]    Script Date: 2/25/2026 8:39:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_TeacherAttendances_TeacherId] ON [dbo].[TeacherAttendances]
(
	[TeacherId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TeacherLeaveRequests_ReviewedBy]    Script Date: 2/25/2026 8:39:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_TeacherLeaveRequests_ReviewedBy] ON [dbo].[TeacherLeaveRequests]
(
	[ReviewedBy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TeacherLeaveRequests_TeacherId]    Script Date: 2/25/2026 8:39:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_TeacherLeaveRequests_TeacherId] ON [dbo].[TeacherLeaveRequests]
(
	[TeacherId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Teachers_CreatedBy]    Script Date: 2/25/2026 8:39:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_Teachers_CreatedBy] ON [dbo].[Teachers]
(
	[CreatedBy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Teachers_UserId]    Script Date: 2/25/2026 8:39:40 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Teachers_UserId] ON [dbo].[Teachers]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TeacherSections_SectionId]    Script Date: 2/25/2026 8:39:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_TeacherSections_SectionId] ON [dbo].[TeacherSections]
(
	[SectionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TeacherSubjects_SubjectId]    Script Date: 2/25/2026 8:39:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_TeacherSubjects_SubjectId] ON [dbo].[TeacherSubjects]
(
	[SubjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TimeSlots_CreatedBy]    Script Date: 2/25/2026 8:39:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_TimeSlots_CreatedBy] ON [dbo].[TimeSlots]
(
	[CreatedBy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Timetable_Class_TimeSlot_Day]    Script Date: 2/25/2026 8:39:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_Timetable_Class_TimeSlot_Day] ON [dbo].[Timetables]
(
	[ClassId] ASC,
	[TimeSlotId] ASC,
	[DayOfWeek] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Timetable_Teacher_TimeSlot_Day_Unique]    Script Date: 2/25/2026 8:39:40 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Timetable_Teacher_TimeSlot_Day_Unique] ON [dbo].[Timetables]
(
	[TeacherId] ASC,
	[TimeSlotId] ASC,
	[DayOfWeek] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Timetables_SubjectId]    Script Date: 2/25/2026 8:39:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_Timetables_SubjectId] ON [dbo].[Timetables]
(
	[SubjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Timetables_TimeSlotId]    Script Date: 2/25/2026 8:39:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_Timetables_TimeSlotId] ON [dbo].[Timetables]
(
	[TimeSlotId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Users_Email]    Script Date: 2/25/2026 8:39:40 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Users_Email] ON [dbo].[Users]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Classes] ADD  DEFAULT ((0)) FOR [ClassType]
GO
ALTER TABLE [dbo].[Modules] ADD  DEFAULT ((0)) FOR [ModuleWeight]
GO
ALTER TABLE [dbo].[Modules] ADD  DEFAULT ('00000000-0000-0000-0000-000000000000') FOR [SectionId]
GO
ALTER TABLE [dbo].[Packages] ADD  DEFAULT (N'') FOR [Discription]
GO
ALTER TABLE [dbo].[Packages] ADD  DEFAULT ((0)) FOR [PeriodInMonths]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT (N'') FOR [Currency]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT (N'') FOR [PaymentMethod]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT (N'') FOR [PaymentStatus]
GO
ALTER TABLE [dbo].[Subjects] ADD  DEFAULT ((0)) FOR [CreditValue]
GO
ALTER TABLE [dbo].[TimeSlots] ADD  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [CreatedAt]
GO
ALTER TABLE [dbo].[TimeSlots] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Timetables] ADD  DEFAULT (N'') FOR [DayOfWeek]
GO
ALTER TABLE [dbo].[Timetables] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsOptional]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsVerified]
GO
ALTER TABLE [dbo].[Admins]  WITH CHECK ADD  CONSTRAINT [FK_Admins_Users_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Admins] CHECK CONSTRAINT [FK_Admins_Users_CreatedBy]
GO
ALTER TABLE [dbo].[Admins]  WITH CHECK ADD  CONSTRAINT [FK_Admins_Users_UpdatedBy] FOREIGN KEY([UpdatedBy])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Admins] CHECK CONSTRAINT [FK_Admins_Users_UpdatedBy]
GO
ALTER TABLE [dbo].[Admins]  WITH CHECK ADD  CONSTRAINT [FK_Admins_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Admins] CHECK CONSTRAINT [FK_Admins_Users_UserId]
GO
ALTER TABLE [dbo].[ApplicationAdmins]  WITH CHECK ADD  CONSTRAINT [FK_ApplicationAdmins_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[ApplicationAdmins] CHECK CONSTRAINT [FK_ApplicationAdmins_Users_UserId]
GO
ALTER TABLE [dbo].[Classes]  WITH CHECK ADD  CONSTRAINT [FK_Classes_Operators_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Operators] ([Id])
GO
ALTER TABLE [dbo].[Classes] CHECK CONSTRAINT [FK_Classes_Operators_CreatedBy]
GO
ALTER TABLE [dbo].[Classes]  WITH CHECK ADD  CONSTRAINT [FK_Classes_Sections_SectionId] FOREIGN KEY([SectionId])
REFERENCES [dbo].[Sections] ([Id])
GO
ALTER TABLE [dbo].[Classes] CHECK CONSTRAINT [FK_Classes_Sections_SectionId]
GO
ALTER TABLE [dbo].[Clusters]  WITH CHECK ADD  CONSTRAINT [FK_Clusters_Operators_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Operators] ([Id])
GO
ALTER TABLE [dbo].[Clusters] CHECK CONSTRAINT [FK_Clusters_Operators_CreatedBy]
GO
ALTER TABLE [dbo].[GPAGradings]  WITH CHECK ADD  CONSTRAINT [FK_GPAGradings_Admins_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Admins] ([Id])
GO
ALTER TABLE [dbo].[GPAGradings] CHECK CONSTRAINT [FK_GPAGradings_Admins_CreatedBy]
GO
ALTER TABLE [dbo].[IssueTickets]  WITH CHECK ADD  CONSTRAINT [FK_IssueTickets_Users_AssignedOperatorId] FOREIGN KEY([AssignedOperatorId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[IssueTickets] CHECK CONSTRAINT [FK_IssueTickets_Users_AssignedOperatorId]
GO
ALTER TABLE [dbo].[IssueTickets]  WITH CHECK ADD  CONSTRAINT [FK_IssueTickets_Users_CreatedByUserId] FOREIGN KEY([CreatedByUserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[IssueTickets] CHECK CONSTRAINT [FK_IssueTickets_Users_CreatedByUserId]
GO
ALTER TABLE [dbo].[IssueTickets]  WITH CHECK ADD  CONSTRAINT [FK_IssueTickets_Users_ForwardedAdminId] FOREIGN KEY([ForwardedAdminId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[IssueTickets] CHECK CONSTRAINT [FK_IssueTickets_Users_ForwardedAdminId]
GO
ALTER TABLE [dbo].[Managers]  WITH CHECK ADD  CONSTRAINT [FK_Managers_ApplicationAdmins_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[ApplicationAdmins] ([Id])
GO
ALTER TABLE [dbo].[Managers] CHECK CONSTRAINT [FK_Managers_ApplicationAdmins_CreatedBy]
GO
ALTER TABLE [dbo].[Managers]  WITH CHECK ADD  CONSTRAINT [FK_Managers_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Managers] CHECK CONSTRAINT [FK_Managers_Users_UserId]
GO
ALTER TABLE [dbo].[ModuleExamMarks]  WITH CHECK ADD  CONSTRAINT [FK_ModuleExamMarks_Modules_ModuleId] FOREIGN KEY([ModuleId])
REFERENCES [dbo].[Modules] ([Id])
GO
ALTER TABLE [dbo].[ModuleExamMarks] CHECK CONSTRAINT [FK_ModuleExamMarks_Modules_ModuleId]
GO
ALTER TABLE [dbo].[ModuleExamMarks]  WITH CHECK ADD  CONSTRAINT [FK_ModuleExamMarks_Students_StudentId] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Students] ([Id])
GO
ALTER TABLE [dbo].[ModuleExamMarks] CHECK CONSTRAINT [FK_ModuleExamMarks_Students_StudentId]
GO
ALTER TABLE [dbo].[Modules]  WITH CHECK ADD  CONSTRAINT [FK_Modules_Operators_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Operators] ([Id])
GO
ALTER TABLE [dbo].[Modules] CHECK CONSTRAINT [FK_Modules_Operators_CreatedBy]
GO
ALTER TABLE [dbo].[Modules]  WITH CHECK ADD  CONSTRAINT [FK_Modules_Sections_SectionId] FOREIGN KEY([SectionId])
REFERENCES [dbo].[Sections] ([Id])
GO
ALTER TABLE [dbo].[Modules] CHECK CONSTRAINT [FK_Modules_Sections_SectionId]
GO
ALTER TABLE [dbo].[Modules]  WITH CHECK ADD  CONSTRAINT [FK_Modules_Subjects_SubjectId] FOREIGN KEY([SubjectId])
REFERENCES [dbo].[Subjects] ([Id])
GO
ALTER TABLE [dbo].[Modules] CHECK CONSTRAINT [FK_Modules_Subjects_SubjectId]
GO
ALTER TABLE [dbo].[Operators]  WITH CHECK ADD  CONSTRAINT [FK_Operators_ApplicationAdmins_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[ApplicationAdmins] ([Id])
GO
ALTER TABLE [dbo].[Operators] CHECK CONSTRAINT [FK_Operators_ApplicationAdmins_CreatedBy]
GO
ALTER TABLE [dbo].[Operators]  WITH CHECK ADD  CONSTRAINT [FK_Operators_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Operators] CHECK CONSTRAINT [FK_Operators_Users_UserId]
GO
ALTER TABLE [dbo].[Packages]  WITH CHECK ADD  CONSTRAINT [FK_Packages_Users_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Packages] CHECK CONSTRAINT [FK_Packages_Users_CreatedBy]
GO
ALTER TABLE [dbo].[Packages]  WITH CHECK ADD  CONSTRAINT [FK_Packages_Users_UpdatedBy] FOREIGN KEY([UpdatedBy])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Packages] CHECK CONSTRAINT [FK_Packages_Users_UpdatedBy]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payments_ApplicationAdmins_ApplicationAdminId] FOREIGN KEY([ApplicationAdminId])
REFERENCES [dbo].[ApplicationAdmins] ([Id])
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payments_ApplicationAdmins_ApplicationAdminId]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payments_Packages_PackageId] FOREIGN KEY([PackageId])
REFERENCES [dbo].[Packages] ([Id])
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payments_Packages_PackageId]
GO
ALTER TABLE [dbo].[Sections]  WITH CHECK ADD  CONSTRAINT [FK_Sections_Clusters_ClusterId] FOREIGN KEY([ClusterId])
REFERENCES [dbo].[Clusters] ([Id])
GO
ALTER TABLE [dbo].[Sections] CHECK CONSTRAINT [FK_Sections_Clusters_ClusterId]
GO
ALTER TABLE [dbo].[Sections]  WITH CHECK ADD  CONSTRAINT [FK_Sections_Operators_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Operators] ([Id])
GO
ALTER TABLE [dbo].[Sections] CHECK CONSTRAINT [FK_Sections_Operators_CreatedBy]
GO
ALTER TABLE [dbo].[StudentClasses]  WITH CHECK ADD  CONSTRAINT [FK_StudentClasses_Classes_ClassId] FOREIGN KEY([ClassId])
REFERENCES [dbo].[Classes] ([Id])
GO
ALTER TABLE [dbo].[StudentClasses] CHECK CONSTRAINT [FK_StudentClasses_Classes_ClassId]
GO
ALTER TABLE [dbo].[StudentClasses]  WITH CHECK ADD  CONSTRAINT [FK_StudentClasses_Students_StudentId] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Students] ([Id])
GO
ALTER TABLE [dbo].[StudentClasses] CHECK CONSTRAINT [FK_StudentClasses_Students_StudentId]
GO
ALTER TABLE [dbo].[StudentGlobals]  WITH CHECK ADD  CONSTRAINT [FK_StudentGlobals_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[StudentGlobals] CHECK CONSTRAINT [FK_StudentGlobals_Users_UserId]
GO
ALTER TABLE [dbo].[Students]  WITH CHECK ADD  CONSTRAINT [FK_Students_Operators_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Operators] ([Id])
GO
ALTER TABLE [dbo].[Students] CHECK CONSTRAINT [FK_Students_Operators_CreatedBy]
GO
ALTER TABLE [dbo].[Students]  WITH CHECK ADD  CONSTRAINT [FK_Students_StudentGlobals_StudentGlobalId] FOREIGN KEY([StudentGlobalId])
REFERENCES [dbo].[StudentGlobals] ([Id])
GO
ALTER TABLE [dbo].[Students] CHECK CONSTRAINT [FK_Students_StudentGlobals_StudentGlobalId]
GO
ALTER TABLE [dbo].[StudentSubjectSections]  WITH CHECK ADD  CONSTRAINT [FK_StudentSubjectSections_Sections_SectionId] FOREIGN KEY([SectionId])
REFERENCES [dbo].[Sections] ([Id])
GO
ALTER TABLE [dbo].[StudentSubjectSections] CHECK CONSTRAINT [FK_StudentSubjectSections_Sections_SectionId]
GO
ALTER TABLE [dbo].[StudentSubjectSections]  WITH CHECK ADD  CONSTRAINT [FK_StudentSubjectSections_Students_StudentId] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Students] ([Id])
GO
ALTER TABLE [dbo].[StudentSubjectSections] CHECK CONSTRAINT [FK_StudentSubjectSections_Students_StudentId]
GO
ALTER TABLE [dbo].[StudentSubjectSections]  WITH CHECK ADD  CONSTRAINT [FK_StudentSubjectSections_Subjects_SubjectId] FOREIGN KEY([SubjectId])
REFERENCES [dbo].[Subjects] ([Id])
GO
ALTER TABLE [dbo].[StudentSubjectSections] CHECK CONSTRAINT [FK_StudentSubjectSections_Subjects_SubjectId]
GO
ALTER TABLE [dbo].[SubjectClusters]  WITH CHECK ADD  CONSTRAINT [FK_SubjectClusters_Clusters_ClusterId] FOREIGN KEY([ClusterId])
REFERENCES [dbo].[Clusters] ([Id])
GO
ALTER TABLE [dbo].[SubjectClusters] CHECK CONSTRAINT [FK_SubjectClusters_Clusters_ClusterId]
GO
ALTER TABLE [dbo].[SubjectClusters]  WITH CHECK ADD  CONSTRAINT [FK_SubjectClusters_Subjects_SubjectId] FOREIGN KEY([SubjectId])
REFERENCES [dbo].[Subjects] ([Id])
GO
ALTER TABLE [dbo].[SubjectClusters] CHECK CONSTRAINT [FK_SubjectClusters_Subjects_SubjectId]
GO
ALTER TABLE [dbo].[SubjectExamMarks]  WITH CHECK ADD  CONSTRAINT [FK_SubjectExamMarks_Classes_ClassId] FOREIGN KEY([ClassId])
REFERENCES [dbo].[Classes] ([Id])
GO
ALTER TABLE [dbo].[SubjectExamMarks] CHECK CONSTRAINT [FK_SubjectExamMarks_Classes_ClassId]
GO
ALTER TABLE [dbo].[SubjectExamMarks]  WITH CHECK ADD  CONSTRAINT [FK_SubjectExamMarks_Students_StudentId] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Students] ([Id])
GO
ALTER TABLE [dbo].[SubjectExamMarks] CHECK CONSTRAINT [FK_SubjectExamMarks_Students_StudentId]
GO
ALTER TABLE [dbo].[SubjectExamMarks]  WITH CHECK ADD  CONSTRAINT [FK_SubjectExamMarks_Subjects_SubjectId] FOREIGN KEY([SubjectId])
REFERENCES [dbo].[Subjects] ([Id])
GO
ALTER TABLE [dbo].[SubjectExamMarks] CHECK CONSTRAINT [FK_SubjectExamMarks_Subjects_SubjectId]
GO
ALTER TABLE [dbo].[SubjectGradings]  WITH CHECK ADD  CONSTRAINT [FK_SubjectGradings_Admins_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Admins] ([Id])
GO
ALTER TABLE [dbo].[SubjectGradings] CHECK CONSTRAINT [FK_SubjectGradings_Admins_CreatedBy]
GO
ALTER TABLE [dbo].[Subjects]  WITH CHECK ADD  CONSTRAINT [FK_Subjects_Operators_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Operators] ([Id])
GO
ALTER TABLE [dbo].[Subjects] CHECK CONSTRAINT [FK_Subjects_Operators_CreatedBy]
GO
ALTER TABLE [dbo].[TeacherAttendances]  WITH CHECK ADD  CONSTRAINT [FK_TeacherAttendances_Teachers_TeacherId] FOREIGN KEY([TeacherId])
REFERENCES [dbo].[Teachers] ([Id])
GO
ALTER TABLE [dbo].[TeacherAttendances] CHECK CONSTRAINT [FK_TeacherAttendances_Teachers_TeacherId]
GO
ALTER TABLE [dbo].[TeacherLeaveRequests]  WITH CHECK ADD  CONSTRAINT [FK_TeacherLeaveRequests_Teachers_TeacherId] FOREIGN KEY([TeacherId])
REFERENCES [dbo].[Teachers] ([Id])
GO
ALTER TABLE [dbo].[TeacherLeaveRequests] CHECK CONSTRAINT [FK_TeacherLeaveRequests_Teachers_TeacherId]
GO
ALTER TABLE [dbo].[TeacherLeaveRequests]  WITH CHECK ADD  CONSTRAINT [FK_TeacherLeaveRequests_Users_ReviewedBy] FOREIGN KEY([ReviewedBy])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[TeacherLeaveRequests] CHECK CONSTRAINT [FK_TeacherLeaveRequests_Users_ReviewedBy]
GO
ALTER TABLE [dbo].[Teachers]  WITH CHECK ADD  CONSTRAINT [FK_Teachers_Operators_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Operators] ([Id])
GO
ALTER TABLE [dbo].[Teachers] CHECK CONSTRAINT [FK_Teachers_Operators_CreatedBy]
GO
ALTER TABLE [dbo].[Teachers]  WITH CHECK ADD  CONSTRAINT [FK_Teachers_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Teachers] CHECK CONSTRAINT [FK_Teachers_Users_UserId]
GO
ALTER TABLE [dbo].[TeacherSections]  WITH CHECK ADD  CONSTRAINT [FK_TeacherSections_Sections_SectionId] FOREIGN KEY([SectionId])
REFERENCES [dbo].[Sections] ([Id])
GO
ALTER TABLE [dbo].[TeacherSections] CHECK CONSTRAINT [FK_TeacherSections_Sections_SectionId]
GO
ALTER TABLE [dbo].[TeacherSections]  WITH CHECK ADD  CONSTRAINT [FK_TeacherSections_Teachers_TeacherId] FOREIGN KEY([TeacherId])
REFERENCES [dbo].[Teachers] ([Id])
GO
ALTER TABLE [dbo].[TeacherSections] CHECK CONSTRAINT [FK_TeacherSections_Teachers_TeacherId]
GO
ALTER TABLE [dbo].[TeacherSubjects]  WITH CHECK ADD  CONSTRAINT [FK_TeacherSubjects_Subjects_SubjectId] FOREIGN KEY([SubjectId])
REFERENCES [dbo].[Subjects] ([Id])
GO
ALTER TABLE [dbo].[TeacherSubjects] CHECK CONSTRAINT [FK_TeacherSubjects_Subjects_SubjectId]
GO
ALTER TABLE [dbo].[TeacherSubjects]  WITH CHECK ADD  CONSTRAINT [FK_TeacherSubjects_Teachers_TeacherId] FOREIGN KEY([TeacherId])
REFERENCES [dbo].[Teachers] ([Id])
GO
ALTER TABLE [dbo].[TeacherSubjects] CHECK CONSTRAINT [FK_TeacherSubjects_Teachers_TeacherId]
GO
ALTER TABLE [dbo].[TimeSlots]  WITH CHECK ADD  CONSTRAINT [FK_TimeSlots_Admins_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Admins] ([Id])
GO
ALTER TABLE [dbo].[TimeSlots] CHECK CONSTRAINT [FK_TimeSlots_Admins_CreatedBy]
GO
ALTER TABLE [dbo].[Timetables]  WITH CHECK ADD  CONSTRAINT [FK_Timetables_Classes_ClassId] FOREIGN KEY([ClassId])
REFERENCES [dbo].[Classes] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Timetables] CHECK CONSTRAINT [FK_Timetables_Classes_ClassId]
GO
ALTER TABLE [dbo].[Timetables]  WITH CHECK ADD  CONSTRAINT [FK_Timetables_Subjects_SubjectId] FOREIGN KEY([SubjectId])
REFERENCES [dbo].[Subjects] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Timetables] CHECK CONSTRAINT [FK_Timetables_Subjects_SubjectId]
GO
ALTER TABLE [dbo].[Timetables]  WITH CHECK ADD  CONSTRAINT [FK_Timetables_Teachers_TeacherId] FOREIGN KEY([TeacherId])
REFERENCES [dbo].[Teachers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Timetables] CHECK CONSTRAINT [FK_Timetables_Teachers_TeacherId]
GO
ALTER TABLE [dbo].[Timetables]  WITH CHECK ADD  CONSTRAINT [FK_Timetables_TimeSlots_TimeSlotId] FOREIGN KEY([TimeSlotId])
REFERENCES [dbo].[TimeSlots] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Timetables] CHECK CONSTRAINT [FK_Timetables_TimeSlots_TimeSlotId]
GO
USE [master]
GO
